<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd"
        cacheDirectory=".phpunit.cache"
        colors="true"
        requireCoverageMetadata="true"
>
  <php>
    <ini name="error_reporting" value="-1"/>
    <ini name="display_errors" value="On"/>
  </php>
  <testsuites>
    <testsuite name="Unit Tests">
      <directory suffix="Test.php" phpVersion="8.2.0" phpVersionOperator="&gt;=">Tests/Unit</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">./</directory>
    </include>
    <exclude>
      <directory suffix="*">./app/vendor</directory>
      <directory suffix="*">./app/Tests</directory>
      <directory suffix="*">./app/View</directory>
      <directory suffix="*">./app/templates</directory>
    </exclude>
  </source>
</phpunit>
